---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  imagePath: string;
  imageAltText: string;
  techStack: string[];
  gitHubUrl: string;
  liveSiteUrl: string;
}

const { title, description, imagePath, imageAltText, techStack, gitHubUrl, liveSiteUrl } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/projects/*.{jpeg,jpg,png,gif}');

if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/projects/*.{jpeg,jpg,png,gif}"`);
---

<article 
  class="group flex flex-col xl:flex-row gap-5 md:gap-6 p-4 sm:p-6 text-left bg-white dark:bg-gray-950/70 border border-slate-200 dark:border-transparent dark:sm:border-gray-800 rounded-xl shadow-lg sm:hover:bg-slate-100 dark:sm:hover:border-gray-700 dark:sm:hover:bg-gray-900 sm:hover:shadow-xl sm:hover:shadow-blue-200/20 dark:sm:hover:shadow-md dark:sm:hover:shadow-gray-700 transition duration-300 sm:hover:-translate-y-1.5"
>
  <div class="w-full content-center rounded-lg sm:rounded-xl overflow-clip">
    <Image src={images[imagePath]()} alt={imageAltText} class="object-cover object-top w-full aspect-[4/3] group-hover:scale-105 transition-transform duration-500">
  </div>
  <div class="w-full flex flex-col grow">
    <h3 class="mb-3 text-2xl font-medium leading-tight dark:text-zinc-50">
      {title}
    </h3> 
    <ul class="mb-5 flex flex-wrap items-center gap-3" role="list">
      {techStack.map((tech) => (
        <li class="flex gap-1.5 items-center text-sm text-slate-600 dark:text-cool-steel">
          <Icon
            name="check-circle"
            aria-hidden="true"
            focusable="false"
            class={`size-3.5`}
          />
          {tech}
        </li>
      ))}
    </ul>
    <p class="mb-8 text-base sm:text-lg leading-relaxed font-light">{description}</p>
    <footer class="flex items-center gap-3 mt-auto text-sm font-ubuntu">
      <a 
        href={gitHubUrl} 
        target="_blank"
        rel="noreferrer nopener"
        class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-1 border-slate-300 dark:border-gray-700 hover:bg-emerald-700 dark:hover:bg-emerald-800 hover:text-white hover:border-emerald-700 dark:hover:border-emerald-800 focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-emerald-600 dark:focus-visible:outline-emerald-800 transition-colors"  
      >
        <Icon name="github" aria-hidden="true" focusable="false" class="size-3.5" />
        Source Code
      </a>
      <a 
        href={liveSiteUrl}  
        target="_blank"
        rel="noreferrer nopener"
        class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-1 border-slate-300 dark:border-gray-700 hover:bg-emerald-700 dark:hover:bg-emerald-800 hover:text-white hover:border-emerald-700 dark:hover:border-emerald-800 focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-emerald-600 dark:focus-visible:outline-emerald-800 transition-colors"  
      >
        <Icon name="external-link" aria-hidden="true" focusable="false" class="size-3.5" />
        Live Demo
      </a>
    </footer>
  </div>
</article>