---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  imagePath: string;
  imageAltText: string;
  techStack: string[];
  gitHubUrl: string;
  liveSiteUrl: string;
}

const { title, description, imagePath, imageAltText, techStack, gitHubUrl, liveSiteUrl } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/projects/*.{jpeg,jpg,png,gif}');


if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/projects/*.{jpeg,jpg,png,gif}"`);
---

<article 
  class="flex flex-col gap-5 md:gap-6 p-4 sm:p-6 text-left bg-white dark:bg-black/40 border border-slate-200 dark:border-transparent dark:sm:border-slate-800 rounded-xl shadow-lg dark:sm:hover:border-indigo-500/30 dark:sm:hover:bg-indigo-950/20 hover:shadow-xl hover:shadow-indigo-300/20 dark:sm:hover:shadow-indigo-500/20 transition duration-300 sm:hover:-translate-y-1.5"
>
  <div class="w-full overflow-hidden content-center">
    <Image src={images[imagePath]()} alt={imageAltText} class="object-cover object-top w-full rounded-lg sm:rounded-xl aspect-[4/3]" />
  </div>
  <div class="w-full flex flex-col grow">
    <h3 class="mb-3 text-2xl font-medium leading-tight dark:text-zinc-50">
      {title}
    </h3> 
    <ul class="mb-5 flex flex-wrap items-center gap-3" role="list">
      {techStack.map((tech) => (
        <li class="flex gap-1.5 items-center text-sm text-slate-600 dark:text-slate-400">
          <Icon
            name="check-circle"
            aria-hidden="true"
            focusable="false"
            class={`size-3.5`}
          />
          {tech}
        </li>
      ))}
    </ul>
    <p class="mb-8 text-base sm:text-lg leading-relaxed">{description}</p>
    <footer class="flex items-center gap-3 mt-auto text-sm font-ubuntu font-medium">
      <a 
        href={gitHubUrl} 
        target="_blank"
        rel="noreferrer nopener"
        class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-2 border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 hover:bg-slate-500 dark:hover:bg-slate-400 hover:text-white dark:hover:text-black focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-slate-500 dark:focus-visible:outline-slate-400 transition-colors"  
      >
        <Icon name="github" aria-hidden="true" focusable="false" class="size-3.5" />
        Source Code
      </a>
      <a 
        href={liveSiteUrl} 
        target="_blank"
        rel="noreferrer nopener"
        class="py-2 px-4 inline-flex items-center justify-center gap-2 rounded-lg border-2 border-slate-500 dark:border-slate-400 text-slate-500 dark:text-slate-400 hover:bg-slate-500 dark:hover:bg-slate-400 hover:text-white dark:hover:text-black focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-slate-500 dark:focus-visible:outline-slate-400 transition-colors" 
      >
        <Icon name="external-link" aria-hidden="true" focusable="false" class="size-3.5" />
        Live Demo
      </a>
    </footer>
  </div>
</article>