---
import ProjectCard from './ProjectCard.astro';
import { getCollection } from 'astro:content';
const projects = await getCollection('project');
import LinkButton from './LinkButton.astro';
---

<!-- ToDo: add aria-labelledby to sections? check MDN -->
<section id="projects" class="py-24">
  <!-- wrapper div -->
  <div class="px-4 sm:px-6 text-center">
    <h2 class="mb-8 sm:mb-16 text-3xl md:text-4xl font-ubuntu font-semibold text-slate-900 dark:text-zinc-50 whitespace-nowrap">Featured Projects</h2>
    <!-- <div class="mb-12 grid gap-6 sm:gap-8 md:gap-6 grid-cols-[repeat(auto-fit,minmax(min(375px,100%),1fr))]"> -->
    <div class="mb-12 grid gap-6 sm:gap-8 md:gap-6 grid-cols-[repeat(auto-fit,minmax(min(360px,100%),1fr))] xl:grid-cols-1 xl:gap-10">
      {
        projects.map(project => (
          <ProjectCard 
            title={project.data.title} 
            description={project.data.description} 
            imagePath={project.data.imagePath} 
            imageAltText={project.data.imageAltText} 
            techStack={project.data.techStack} 
            gitHubUrl={project.data.gitHubUrl} 
            liveSiteUrl={project.data.liveSiteUrl} 
          />
        ))
      }
    </div>
    <h3 class="mb-8 text-xl sm:text-2xl font-ubuntu font-light">Find more of my work on GitHub or Frontend Mentor</h3>
    <div class="flex flex-col sm:flex-row gap-4 items-center justify-center">
      <LinkButton label="GitHub" href="https://github.com/MattPahuta" icon="github" color="indigo" size="size-5" />
      <LinkButton label="Frontend Mentor" href="https://www.frontendmentor.io/profile/MattPahuta" icon="frontendmentor" color="cyan" size="size-5" />
    </div>
  </div>
</section>