---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  imagePath: string;
  imageAltText: string;
  techStack: string[];
  gitHubUrl: string;
  liveSiteUrl: string;
}

const { title, description, imagePath, imageAltText, techStack, gitHubUrl, liveSiteUrl } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/projects/*.{jpeg,jpg,png,gif}');

if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/projects/*.{jpeg,jpg,png,gif}"`);
---

<article class="flex flex-col gap-5 md:gap-6 sm:flex-row p-4 sm:p-6 bg-white dark:bg-gray-950 rounded-lg sm:rounded-xl shadow-md dark:shadow-lg sm:border sm:border-transparent dark:sm:border-slate-700 sm:hover:border-blue-200/70 dark:sm:hover:border-blue-400/30 sm:hover:bg-blue-50/40 dark:sm:hover:bg-blue-950/20 hover:shadow-xl dark:sm:hover:shadow-blue-500/20 sm:hover:-translate-y-0.5 transition duration-300">
  <div class="w-full overflow-hidden content-center">
    <Image src={images[imagePath]()} alt={imageAltText} class="object-cover object-top w-full rounded-lg sm:rounded-xl aspect-[4/3]" />
  </div>
  <div class="w-full flex flex-col grow space-y-6">
    <h3 class="text-2xl font-medium leading-tight dark:text-zinc-50">
      <a href={gitHubUrl} class="hover:text-blue-800 dark:hover:text-blue-500 hover:underline decoration-2 underline-offset-4 transition rounded-md outline-offset-2 focus:outline-2 focus:outline-blue-500">
        {title}
      </a>
    </h3> 
    <ul class="flex flex-wrap items-center gap-3" role="list">
      {techStack.map((tech) => (
        <li class="py-1 px-3 text-xs font-normal rounded-xl text-gray-50 dark:text-slate-950 bg-laser-blue/90 dark:bg-blue-400">
          {tech}
        </li>
        )
      )}
    </ul>
    <p class="">{description}</p>
    <footer class="flex items-center sm:justify-end gap-2 mt-auto">
      <a 
        href={gitHubUrl} 
        target="_blank"
        rel="noreferrer nopener"
        title="Source code"
        aria-label="Navigate to GitHub project repo"
        class="size-5 p-1.5 rounded-full min-h-10 min-w-10 hover:text-blue-600 dark:hover:text-blue-300 outline-offset-2 focus:outline-2 focus:outline-blue-500"
      >
        <Icon name="mdi:github" class="w-full h-full fill-current" role="img" aria-hidden="true" focusable="false" />
      </a>
      <a 
        href={liveSiteUrl} 
        target="_blank" 
        rel="noreferrer nopener"
        title="Live demo site"
        aria-label="Navigate to Live demo website" 
        class="size-6 p-1.5 rounded-full min-w-10 min-h-10 hover:text-blue-600 dark:hover:text-blue-300 outline-offset-2 focus:outline-2 focus:outline-blue-500"
      >
        <Icon name="mdi:external-link" class="w-full h-full fill-current" role="img" aria-hidden="true" focusable="false" />
      </a>
    </footer>
  </div>
</article>