---
import { Icon } from 'astro-icon/components'
const { iconSize } = Astro.props;
---

<ul class="flex items-center justify-center gap-2.5 md:gap-3.5 text-teal-700/80 dark:text-slate-400 md:-ml-2">
  <li>
    <a href="www.linkedin.com/in/mattpahuta" aria-label="LinkedIn" class="p-2 inline-flex items-center rounded-lg hover:bg-slate-300 dark:hover:bg-slate-600 dark:hover:text-slate-200 hover:scale-110 focus:outline-hidden focus:ring-4 dark:focus:ring-amber-600 transition">
      <Icon name="simple-icons:linkedin" title="LinkedIn" class={iconSize}
      />
    </a>
  </li>
  <li>
    <a href="https://github.com/mattpahuta" aria-label="GitHub" class="p-2 inline-flex items-center rounded-lg hover:bg-slate-300 dark:hover:bg-slate-600 dark:hover:text-slate-200 hover:scale-110 focus:outline-hidden focus:ring-4 dark:focus:ring-amber-600 transition">
      <Icon name="simple-icons:github" title="GitHub" class={iconSize}
      />
    </a>
  </li>
  <li>
    <a href="https://www.frontendmentor.io/profile/MattPahuta" aria-label="Frontend Mentor" class="p-2 inline-flex items-center rounded-lg hover:bg-slate-300 dark:hover:bg-slate-600 dark:hover:text-slate-200 hover:scale-110 focus:outline-hidden focus:ring-4 dark:focus:ring-amber-600 transition">
      <Icon name="simple-icons:frontendmentor" title="Frontend Mentor" class={iconSize}
      />
    </a>
  </li>
  <li>
    <a href="https://bsky.app/profile/mattpahuta.bsky.social" aria-label="Bluesky" class="p-2 inline-flex items-center rounded-lg hover:bg-slate-300 dark:hover:bg-slate-600 dark:hover:text-slate-200 hover:scale-110 focus:outline-hidden focus:ring-4 dark:focus:ring-amber-600 transition">
      <Icon name="simple-icons:bluesky" title="Bluesky" class={iconSize}
      />
    </a>
  </li>
  <li>
    <a href="mailto:mhpahuta@gmail.com" aria-label="Email" class="p-2 inline-flex items-center rounded-lg hover:bg-slate-300 dark:hover:bg-slate-600 dark:hover:text-slate-200 hover:scale-110 focus:outline-hidden focus:ring-4 dark:dark:focus:ring-amber-600 transition">
      <Icon name="simple-icons:gmail" title="Email" class={iconSize}
      />
    </a>
  </li>
</ul>