---
import SectionHeader from './SectionHeader.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ProjectCardUpdated from './ProjectCardUpdated.astro';
// import projects from '../data/projects.json';
import { getCollection } from 'astro:content';
const heading = "Projects";
const projects = await getCollection('project');

---

<section class="">
  <div class="px-4 space-y-6">
    <SectionHeader heading={heading} />
    <ul class="grid justify-items-center gap-6 sm:grid-cols-2 lg:grid-cols-1">
      {
        projects.map(project => (
          <ProjectCardUpdated 
            title={project.data.title} 
            description={project.data.description} 
            imagePath={project.data.imagePath} 
            imageAltText={project.data.imageAltText} 
            techStack={project.data.techStack} 
            gitHubUrl={project.data.gitHubUrl} 
            liveSiteUrl={project.data.liveSiteUrl} 
          />
        ))
      }
    </ul>
  </div>
</section>