---
import SectionHeader from './SectionHeader.astro';
import ProjectCard_legacy from '../components/ProjectCard_legacy.astro';
import ProjectCardAlt from './ProjectCardAlt.astro';
// import projects from '../data/projects.json';
import { getCollection } from 'astro:content';
const heading = "Projects";
const projects = await getCollection('project');
---

<section id="projects" class="py-12 px-4">
    <SectionHeader heading={heading} />
    <!-- <div class="grid md:grid-cols-2 gap-y-20 md:gap-y-8 md:gap-x-6"> -->
    <div class="grid gap-6 sm:gap-10">
      {
        projects.map(project => (
          <ProjectCardAlt 
            title={project.data.title} 
            description={project.data.description} 
            imagePath={project.data.imagePath} 
            imageAltText={project.data.imageAltText} 
            techStack={project.data.techStack} 
            gitHubUrl={project.data.gitHubUrl} 
            liveSiteUrl={project.data.liveSiteUrl} 
          />
        ))
      }
    </div>

    <!-- <div class="grid md:grid-cols-2 gap-y-20 md:gap-5">
      {
        projects.map(project => (
          <ProjectCard_legacy 
            title={project.data.title} 
            description={project.data.description} 
            imagePath={project.data.imagePath} 
            imageAltText={project.data.imageAltText} 
            techStack={project.data.techStack} 
            gitHubUrl={project.data.gitHubUrl} 
            liveSiteUrl={project.data.liveSiteUrl} 
          />
        ))
      }
    </div> -->

</section>